@import url('httpss://fonts.googleapis.com/css?family=Roboto');

body {
  background:linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
}

.signup-form {
  font-family: "Roboto", sans-serif;
  width:650px;
  margin:30px auto;
  background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 10px;
}

.form-header  {
  background-color: #EFF0F1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-header h1 {
  font-size: 30px;
  text-align:center;
  color:#666;
  padding:20px 0;
  border-bottom:1px solid #cccccc;
}
/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.form-body {
	padding:10px 40px;
	color:rgb(225, 236, 73);
  }
  
  .form-group{
	margin-bottom:20px;
  }
  
  .form-body .label-title {
	color:#d4f5ed;
	font-size: 17px;
	font-weight: bold;
  }
  
  .form-body .form-input {
	  font-size: 17px;
	  box-sizing: border-box;
	  width: 100%;
	  height: 34px;
	  padding-left: 0rem;
	  padding-right: 10px;
	  color: #333333;
	  text-align: left;
	  border: 1px solid #d6d6d6;
	  border-radius: 4px;
	  background: white;
	  outline: none;
  }
  
  
  
  .horizontal-group .left{
	float:left;
	width:50%;
	padding: 0em;
  }
  
  .horizontal-group .right{
	float:right;
	width:49%;
  }
  
  input[type="file"] {
   outline: none;
   cursor:pointer;
   font-size: 17px;
  }
  
  #range-label {
   width:15%;
   padding:5px;
   background-color: #1BBA93;
   color:white;
   border-radius: 5px;
   font-size: 17px;
   position: relative;
   top:-8px;
  }
  
  
  ::-webkit-input-placeholder {
   color:#d9d9d9;
  }
  
  /*---------------------------------------*/
  /* Form Footer */
  /*---------------------------------------*/
  .form-footer {
   clear:both;
  }
  .st{
	  color: aqua;
	  padding-left: 0em;
  }
  .center
  {
	  justify-content: center;
  }